.diet-history-add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFEEB;
}
h4{
    padding-top: 50px;
    font-weight: bold;
}
p{
    color: rgb(80, 79, 79);
}

.mealForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
    height: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vh;
    box-sizing: border-box;
}

button.submit-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #299C34;
    color: white;
    border: none; 
    border-radius: none;
    cursor: pointer;
    font-weight: bold;
}

.bottom-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -90px;
}

.bottom-images img{
    width: 26%;
    height: 26%;
}