
.profile-container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fffeeb;
    margin-top: 220px;
  }
  
  ::ng-deep .main-bod {
    background-color: #fffeeb !important;
    min-height: 170vh;
}

  .loading {
    text-align: center;
    padding: 20px;
  }
  
  .error {
    color: red;
    text-align: center;
    padding: 20px;
  }
  
  .profile-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  .profile-section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  h3 {
    color: #666;
    margin-bottom: 15px;
  }
  
  .profile-field {
    display: flex;
    margin-bottom: 10px;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
  }
  
  .profile-field label {
    width: 150px;
    font-weight: bold;
    color: #555;
  }
  
  .profile-field span {
    color: #333;
  }
  .edit-profile-button {
    padding: 10px 15px; /* Espaciado interno */
    background-color: #299c34; /* Color de fondo */
    color: #fff; /* Color de texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor a puntero */
    font-size: 16px; /* Tamaño de fuente */
}

.edit-profile-button:hover {
    background-color: #11831c; /* Color de fondo en hover */
}
