.container{
    flex-direction: column;
}
.nutritionalplanmeals-title{
    display: inherit;
    background-color: var(--green-maincolor);
    color: #FFFFEB;
    margin: 0;
    align-items: center;
    justify-content: left;
    height: 96px;
    position: sticky;
    top: 90px;
    z-index: 999;
}
.nutritionalplanmeals-title h1{
    font-family: inherit;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 600;
    margin: auto 2.5em 10px;
}
.nutritionalplanmeals-prinmealplan{
}
.nutritionalplanmeals-mealplan{
    display: inherit;
    flex-direction: column;
    margin: 2.5em 4em;
    text-transform: lowercase;
    border-radius: 3rem;
}
.nutritionalplanmeals-mealplan h2{
    font-family: inherit;
    margin: 20px 40px;
    font-weight: 700;
}
.mealplan-mealsoftheday{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mealsoftheday-card{
    display: flex;
    flex: 1;
    margin: 10px 20px;
    background-color: var(--background-color);
    align-self: normal;
    padding: 30px 20px;
    flex-direction: column;
    text-transform: uppercase;
    align-items: stretch;
    justify-content: center;
    transition: box-shadow, font-size 0.2s;
    border: solid 2px #000;
}
.mealsoftheday-card:hover{
    background-color: var(--green-maincolor);
    color: var(--background-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.mealsoftheday-card:hover h3{
    font-size: 29px;
    color: var(--background-color);
}
.mealsoftheday-card h3{
    font-family: inherit;
    font-size: 27px;
    margin: 0 0 -16px 0;
    cursor: default;
    transition: inherit;
}
.mealsoftheday-cardinfoimg{
    width: 100%;
    height: 180px;
    margin: 16px 0;
    overflow: hidden;
    transition: scale, height 0.2s;
}
.mealsoftheday-cardinfoimg img{
    height: 190px;
    width: 100%;
    transition: all 0.2s;
    cursor: pointer;
}
.mealsoftheday-card:hover .mealsoftheday-cardinfoimg{
    height: 200px;
    border: solid 3px;
}
.mealsoftheday-card:hover .mealsoftheday-cardinfoimg img{
    transform: scale(1.1);
}
.nutrifoodnotfound{
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}
.mealsoftheday-cardinfotext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.mealsoftheday-card:hover .mealsoftheday-cardinfotext a{
    color: var(--background-color);
}
.mealsoftheday-cardinfotext a{
    color: #000;
    font-size: 22px;
    margin-left: 25px;
}
.divisorline{
    width: 100%;
    height: 4px;
    background-color: var(--green-maincolor);
    margin: 20px 0px 35px 0px;
} 