/* General styles for the navbar */
.navbar {
    display: flex;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Subtle shadow */
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
}
.container {width: 100%;}
.subcontainer{display: flex; justify-content: center; align-items: center;}
.left {display: flex;align-items: center;}
.left img {height: 40px;margin-right: 10px;}
.navbar-brand {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}
.center {
    flex: 1;
    display: flex;
    margin: 0 40px;
    justify-content: center;
}

.center-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.center-menu li {margin: 0 15px;}
.center-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 40px 20px;
}

.center-menu li a:hover {
    background-color: var(--green-maincolor);
    color: var(--background-color);
}

#navbarNav li{
    list-style: none;
}
.profile-photo {
    list-style-type: none;
    width: 50px;
    height: auto;
    border-radius: 50%;
}