.navbar {
    width: 99%;
    background-color: #FFFEEB; 
    z-index: 1;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.profile-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto; 
    display: flex;
    align-items: center;
}

.dropdown-menu {
    background-color: #FFFEEB;
    border: none;
}

.dropdown-item {
    text-decoration: none;
    color: none;
}

.dropdown-item:hover {
    background-color: #FFFEEB;
}

.navbar-toggler {
    border: none;
}

.dropdown-menu li, .navbar-nav li{
    list-style: none;
}