.recuperacion-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #FFFEEB;
}
.recuperacion-image img {
    width: 65vw; 
    height: 100vh;
    object-fit:cover;
}

.recuperacion-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
    height: 100%;
}
.form-field {
    display: flex;
    justify-content: center;
    width: 50vh;
    box-sizing: border-box;
}

button.submit-button {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #299C34;
    color: rgb(80, 79, 79);
    border-radius: 0%;
}

.submit-button:hover {
    color: white;
}

h2 {
    margin-bottom: 20px;
    font-size: xx-large;
    color: #1E1E1E;
}

#welcome-text {
    font-size: small;
    color: #757575;
    margin-bottom: 70px;
}

#forgotps{
    color: #299C34;
    font-size: small;
    display: flex;
    justify-content: flex-end;
}

.pointer-text {
    cursor: pointer;
}

#acc-none a{
    color: #299C34;
    text-decoration: none;
}

#acc-none{
    font-size: small;
}