html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #FFFEEB;
}
router-outlet {
    min-height: 100%;
    background-color: #FFFEEB;
}
*{ margin: 0; padding: 0; box-sizing: border-box;}