<div class="nutritionists-container">
    <h1>Horarios de Nutricionistas</h1>
    <p>Recibe apoyo de los mejores nutricionistas del país!</p>
    
    <div class="main-content">
      <!-- Calendario a la izquierda -->
      <div class="calendar-section">
        <!-- Campo para seleccionar fecha -->
        <mat-form-field appearance="fill">
          <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha" [(ngModel)]="selectedDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
        <button mat-raised-button color="primary" (click)="buscar()">Buscar <mat-icon>search</mat-icon></button>
      </div>
  
      <!-- Listado de nutricionistas -->
      <div class="nutritionists">
        <div *ngFor="let nutritionist of selectedDateDoctors" class="nutritionist-card">
          <img src="images/doge.png" alt="Nutritionist">
          <div class="nutritionist-info">
            <h3>{{ nutritionist.firstName }} {{ nutritionist.lastName }}</h3>
            <p>Especialista en nutrición</p>
            <p>Horarios Disponibles</p>
            <div class="available-times">
              <span *ngFor="let schedule of nutritionist.schedules">{{ schedule.time }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  