    <div class="login-card">
      <div class="login-image">
        <img src="images/frutitas.avif" alt="Imagen de inicio de sesión">
      </div>
      
      <div class="login-form">
        <h2>Restablecer Contraseña</h2>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="form-field">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Nueva contraseña">
            @if(controlHasError('password', 'required')){
                <mat-error>La contraseña es requerida</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña">
            @if(controlHasError('password', 'required')){
              <mat-error>Este campo es obligatorio</mat-error>
            }
          </mat-form-field>
          <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="resetForm.invalid">
            Restablecer Contraseña
          </button>
        </form>
      </div>
    </div>


    <mat-card>
      <mat-card-header>
        <mat-card-title>Restablecer Contraseña</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput type="password" placeholder="Nueva contraseña" formControlName="password">
            <mat-error *ngIf="controlHasError('password', 'required')">
              La contraseña es requerida
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword">
            <mat-error *ngIf="controlHasError('confirmPassword', 'required')">
              La confirmación de contraseña es requerida
            </mat-error>
            <mat-error *ngIf="resetForm.hasError('passwordMismatch')">
              Las contraseñas no coinciden
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">
            Restablecer Contraseña
          </button>
        </form>
      </mat-card-content>
    </mat-card>