.ex-tips-all{
  width: calc(198vh - 100px);
  height: calc(100vh - 100px);
  background-color: #fffeeb !important;
}

.exercise-detail {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .exercise-detail h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .exercise-tips {
    margin-top: 20px;
    text-align: left;
  }
  
  .exercise-tips h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .exercise-tips ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  .exercise-tips li {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  